asn: 47192
router-id: {{ ipv4 }}
keep-filtered: true
kernel-export: false
default-route: false
templates:
  peer:
    passive: true
    filter-transit-asns: true
    filter-rpki: true
    filter-irr: true
    auto-import-limits: true
    auto-as-set: true
    rs-client: true
    interpret-communities: false
    listen4: {{ ipv4 }}
    listen6: {{ ipv6 }}
    announce-communities: [ "47192,47192" ]

peers:
{% for peer in peers if peer["asn"] != 47192 %}
  {{ peer["name"] }}:
    asn: {{ peer["asn"] }}
    template: peer
    import-communities:
      - 47192,47192
      - 47192:1:47192
      - 47192:2:{{ peer["asn"] }}

    pre-import: |
      if ((65535, 666) ~ bgp_community) then {
        if (net.type = NET_IP4 && net.len = 32) then {
          bgp_next_hop = 44.190.42.251;
        } else if (net.type = NET_IP6 && net.len = 128) then {
          bgp_next_hop = 2602:801:30ff::251;
        }
      }

    pre-export: |
      if ((47192, 0) ~ bgp_community || (47192, 0, 0) ~ bgp_large_community) then reject;
      if ((47192, 0, {{ peer["asn"] }}) ~ bgp_large_community) then reject;

    neighbors:
      - {{ peer["ipv4"] }}
      - {{ peer["ipv6"] }}

{% endfor %}
