:root > * {
    --md-code-bg-color: #2c2c2c;
    --md-code-fg-color: #fafafa;

    --md-default-fg-color: #fafafa;
    --md-primary-fg-color: #ffffff;

    --md-default-bg-color: #1e1e1e;
    --md-default-fg-color--light: #fafafa;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-accent-fg-color: #ffffff;
    --md-accent-bg-color: #ffffff;
    --md-accent-bg-color--light: hsla(0, 0%, 100%, 0.7);
    --md-footer-bg-color: #292929;
    --md-footer-bg-color--dark: #191919;
}

.md-header {
    background-color: #2c2c2c
}
